<div class="row"> &nbsp; </div>
<form action="save.html" method="post">
    <div class="callout" style="width: 98%; margin: auto;">
        <div><label>Parser adresów e-mail [aktywowany przyciskiem 'v']:</label></div><div class="row"> &nbsp; </div>
        <div><textarea id="rawData" style="height: 20px;"></textarea></div>
        <div id="response"> </div>
    </div><br>
    <div class="callout" style="width: 98%; margin: auto;">
        <div><label>Nowa domena wysyłająca spam:</label></div><div class="row"> &nbsp; </div>
        <div><input type="text" id="addDomainToBlackList" name="addDomainToBlackList"></div>
        <br>
        <div><input type="submit" class="button" value="Zapis"/> <a href="/list.html" class="button" >Dane do skopiowania</a> <a href="/" class="button" >Reset</a></div>
    </div>
</form>
<div class="row"> &nbsp; </div>
