<!doctype html>
<html>
<head>
    <title><?=$this->title?></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.2/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/bluebat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <!-- Template <?=@$msg?> -->
<?php @include_once $msg; ?>
<!-- End of Template -->

<!-- Template <?=$template?> -->
<?php include_once $template; ?>
<!-- End of Template -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.2/js/foundation.min.js" integrity="sha256-9v/zJzM8B8TJzt1WhmW3Q97DajYD6yrDQT4xI0qB7LM=" crossorigin="anonymous"></script>
<script src="/public/bluebat.js"></script>
</body>
</html>
